/* CSS Document */


	
	#bottoms{margin-top:15px 0 0 0;*margin-top:10px;}
	.reusableColor1{ color:#333333;}
	.reusableColor2{ color:#666666;}
	.reusableColor3{ color:#999999;}
	.reusableColor4{ color:#a10000;}
	.reusableColor5{ color:#ffffff;}